@page "/data"
@inject HttpClient Http
@using System;
@using System.Diagnostics;
@using System.Collections.Generic;
@using System.Text;
@using System.IO;
@using System.Globalization;

<h1>Covariance matrix of the agregated matrix</h1>
@if (matrice == null)
{
<p><em>Loading...</em></p> }
else
{
<h2>Données</h2>
                <table class="table">
                    <thead>
                        <tr>
                            @foreach (var indicateur in matrice.Indicateurs)
                            {
            <th style="text-align:center">@indicateur.Nom</th>}
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dataLine in matrice.SigmaXY)
                        {
        <tr>
            @foreach (var dataPoint in dataLine)
            {
<td style="text-align:center">@dataPoint</td>}
        </tr>}
                        <tr style="border-top-style:dashed;text-align:center">
                            <td style="text-align:center;font-style:italic;font-size:21px;column-span:all;align-content:center">
                                Sigma X
                            </td>
                        </tr>
                        <tr style="border-top-style:dashed;border-bottom-style:dashed">
                            @foreach (var point in matrice.SigmaX)
                            {
            <td style="text-align:center">@point </td>}
                        </tr>
                    </tbody>
                </table>

                                <h2>Nombre de points: @matrice.NombrePoints</h2>}

@code { private MatriceR matrice;

            protected override async Task OnInitializedAsync()
            {
                matrice = Table.matrixListStatic.Last();
            }
    }
