<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Main Page</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="indicateurs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Indicateurs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="graphe">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Graphique
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="data">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    public static int nbArrondie = 2; 
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // cette variable n'est utile que lors de la première exécution. Elle permet de charger les matrices
    public static bool firstTime = true;

    public static int rounding = nbArrondie;
}
